*{
font-family:"Helvetica";
margin: 0;

}

h1{
	padding: 10px;
	color:darkblue;
	
}



nav{
	color: white;
	padding: 20px;
	background: black;
}

section{
	border: 2px solid black;
	border-bottom: 5px dashed lightskyblue;
	padding: 20px;
	margin: 20px;

}

span{
	font-size: 10px;

}
	
p{
padding: 20px;
padding-left: 0px;

}

button{
	margin-bottom: 20px;
	background-color: lightskyblue;
}






